## 2018-09-18 /usr/local/sbin/uberspace-account-create.sh 
# Moechtest du dein Passwort aendern, so kannst du das mit dem Befehl
#
#   SET PASSWORD = PASSWORD("...");
#
# auf der MySQL-Shell tun. Anschliessend kannst du es auch hier anpassen.
#
# Beachte, dass dies die Konfigurationsdatei des MySQL-Clients ist, nicht
# die des MySQL-Servers - das Passwort wird hier gefuehrt, damit du dich
# ohne manuelle Eingabe mit dem Server verbinden kannst. Du kannst es
# hierueber aber nicht *setzen*; das muss eben mit SET PASSWORD geschehen.
#
# Mehr dazu findest du hier:
#
# https://uberspace.de/dokuwiki/database:mysql#passwort_aendern
#
# Einen alternativen Account ohne Schreibrechte kannst du wie folgt nutzen:
# mysql --defaults-group-suffix=readonly
# Damit kannst du Clients auf das Statement 'SELECT' einschraenken.
# Dieses Passwort kann nur vom Support geaendert werden.
# Bitte wende dich bei Bedarf an hallo@uberspace.de.

[clientreadonly]
password=cohb7EHee3oo # NICHT ÄNDERN!
port=3306
user=learnapp_ro
socket=/var/lib/mysql/mysql.sock

[client]
password=eishie3zi3hee9AeK3 # NICHT ÄNDERN, ohne den obigen Text zu lesen!
port=3306
user=learnapp
socket=/var/lib/mysql/mysql.sock
